@charset "utf-8";

/* header */
.header {
    position: absolute;
    width: 100%;
    padding: 30px 5vw 5vw 30px;
    box-sizing: border-box;
    max-width:100%;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__title {
    font-size: 25px;
    text-align:center;
}
.header__nav ul {
    display: flex;
}
.header__nav ul li {
    margin-left: 50px;
}
.header__nav ul li a {
    text-decoration: none;
    color: black;
}

/* first-v */
.first-v {
    background-image: url(aiken_header.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    max-width:100%;
}

/* レスポンシブ */
@media (max-width: 600px) {
    .header__nav {
        display: none;
    }
}

h2{
    margin-top:80px;
    position: relative;
    margin-bottom: 0.2rem;
    padding: 0.5rem 0;
    border-bottom: 5px solid;
    color: #F09033;
    font-size: 26px;
    font-weight: bold;
}

h2:before {
    position: absolute;
    bottom: -0.6rem;
    left: 0rem;
    right: 0rem;
    border-bottom: 1px solid;
    content: '';
}

h3{
    margin-top:20px;
}

form{
    margin-top:20px;
    margin-bottom:50px;
}
body{
    width:100%;
}
