@charset "utf-8";

/* header */
.header {
    position: absolute;
    width: 100%;
    padding: 30px 5vw 5vw 30px;
    box-sizing: border-box;
    max-width:100%;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__title {
    font-size: 25px;
    text-align:center;
}
.header__nav ul {
    display: flex;
}
.header__nav ul li {
    margin-left: 50px;
}
.header__nav ul li a {
    text-decoration: none;
    color: black;
}

/* first-v */
.first-v {
    background-image: url(aiken_header.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    max-width:100%;
}

/* レスポンシブ */
@media (max-width: 600px) {
    .header__nav {
        display: none;
    }
}

h1{
    position: relative;
    padding: 0.5rem 0 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #353535;
}

h1::before {
    position: absolute;
    border-bottom: 3px solid #353535;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    content: '';
}
    

h2{
    margin-top:80px;
    position: relative;
    padding: 0.5rem 0 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    color: #353535;
}

h2::before {
    position: absolute;
    border-bottom: 3px solid #353535;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    content: '';
}

h3{
    margin-top:30px;
}

form{
    margin-top:20px;
    margin-bottom:50px;
}
body{
    width:100%;
}
