@charset "utf-8";

/* header */
.header {
    position: absolute;
    width: 100%;
    height: 600px;
    min-width:980px;
    padding: 30px 7vw;
    box-sizing: border-box;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__title {
    font-size: 25px;
    text-align:center;
}
.header__nav ul {
    display: flex;
}
.header__nav ul li {
    margin-left: 50px;
}
.header__nav ul li a {
    text-decoration: none;
    color: black;
}

/* first-v */
.first-v {
    background-image: url(aiken_header.jpg);
    height: 600px;
    background-repeat: no-repeat;
    width: 100%;
    border: 2px solid red;
}

/* レスポンシブ */
@media (max-width: 600px) {
    .header__nav {
        display: none;
    }
}

h2{
    margin-top:50px;
}

h3{
    margin-top:20px;
}

form{
    margin-top:20px;
    margin-bottom:50px;
}
body{
    width:100%;
}
